.hero-card {
  position: relative;
  text-align: center;
  color: white;
}
.hero-card img{
    filter :brightness(50%)
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h2{
    color: white
}

button {
  background-color: #f59e0d;
  border: none;
  color: #262626;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5%;
  cursor: pointer;
  border-radius: 5%;
}

button:active {
  filter :brightness(90%)
}